.columns__wrapper {
  display: flex;
  margin-top: 80px;
  justify-content: space-around;

  .column__container {
    overflow: hidden;
    width: 45%;
    padding: 10px;
  }
}

@media (max-width: 1200px) {
  .columns__wrapper {
    display: block;

    .column__container {
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .columns__wrapper {
    .column__container {
      &:first-of-type {
        margin-top: 120px;
      }
      &:nth-of-type(2) {
        margin-top: -20px;
      }
    }
  }
}
