.navigation {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 60px;
  background: white;
  transition: 0.3s;
  border-bottom: 5px solid #116ac2;
}

.navigation__scroll {
  transform: translateY(-100%);
}

.logo__container {
  position: relative;
  width: 60px;
  height: 100%;
  margin: 0 20px;
}

.logo__container .logo__img {
  position: absolute;
  top: calc(50% + 2px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
}

.search-bar__container {
  display: flex;
  height: 35px;
}

.search-bar__container .search-bar__form {
  min-width: 300px;
  max-width: 300px;
}

.search-bar__container .search-bar__form .search-bar__input {
  width: 100%;
  height: 100%;
  border: solid 1px black;
  border-right: none;
  border-radius: 3px 0 0 3px;
  padding: 5px;
  margin-right: 5px;
}

.search-bar__container .search-bar__form .search-bar__input::placeholder {
  color: #116ac2;
}

.search-bar__container .search-bar__img-wrapper {
  width: 40px;
  position: relative;
  border: solid 1px black;
  border-left: none;
  border-radius: 0 3px 3px 0;
  background: white;
}

.search-bar__container .search-bar__img-wrapper .search-bar__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
}

.columns__wrapper {
  display: flex;
  margin-top: 60px;
}

.columns__wrapper .column__container {
  width: 50%;
  padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  padding: 15px;
}
