@import "variables";
@import "navigation";
@import "logo";
@import "searchBar";
@import "column";
@import "group";

* {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 100%;
  padding: 0 15px 50px 15px;
}
